## Dehli Indian Housing Part 2 Predicting Price with Size using Linear Regression by Dumisani Maxwell Mukuchura

#### Dataset Source: *https://www.kaggle.com/datasets/bhavyadhingra00020/india-rental-house-price*

##### Contact: dumisanimukuchura@gmail.com | LinkedIn: https://www.linkedin.com/in/dumisani-maxwell-mukuchura-4859b7170/

##### This Project will explore the Dehli Indian Housing and build a model predicting rental price from size. 

##### As seen from Part one Rental Price has a positive correlation of approx. 0.57 with House Size

### 1. Molule, Library and Data Imports

In [2]:
#Import Standard Modules and Libraries to use

import os #For file and directory operations

#Data Libraries
import pandas as pd
import numpy as np

#Visualization Libraries
import matplotlib.pyplot as plt

#Model Related Libraries: Linear Regression 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.utils.validation import check_is_fitted

### Defining file path and import 'Dehli-Indian-Housing-Clean-Data.csv' from EDA Project

In [3]:
#Defining file path and import 'Dehli-Indian-Housing-Clean-Data.csv'
# Get the current working directory
current_dir = os.getcwd()

# Trim to one level above
base_dir = os.path.dirname(current_dir)

# Construct the path to the data folder
data_dir = os.path.join(base_dir, "data")

# Construct the full path to the CSV file
csv_file_path = os.path.join(data_dir, "Dehli-Indian-Housing-Clean-Data.csv")

# Read the CSV file into a DataFrame
housing_data = pd.read_csv(csv_file_path)

#Make a Copy and Maintain the original dataset as is 
housing_df = housing_data.copy()

#Check if the import was successful with a head() check
housing_df.head()

,house_type,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status,numBedroom,house_layout,house_size_in_sqft,price_approx_usd
0,Independent Floor,Guru Angad Nagar,Delhi,28.635309,77.224960,13000,INR,2.0,1.0,Negotiable,0.29,Posted 4 years ago,Itâs a 2 bhk builder floor situated in Guru ...,"13,000",Unfurnished,2,BHK,517.0,151.59
1,Independent House,Tuglak Road,Delhi,28.595453,77.210335,2162955,INR,4.0,2.0,Not Negotiable,4.03,Posted a year ago,Well designed 5 bhk independent house is avail...,"65,41,919",Unfurnished,5,BHK,6251.0,25221.02
2,Villa,Tuglak Road,Delhi,28.595453,77.210335,2010105,INR,4.0,2.0,Not Negotiable,4.21,Posted a year ago,Its four bhk villa in the super location of de...,"60,10,155",Unfurnished,4,BHK,5562.0,23438.72
3,Independent Floor,Saket,Delhi,28.523548,77.200142,235562,INR,3.0,2.0,Not Negotiable,0.96,Posted a year ago,Itâs a 3 bhk builder floor situated in Saket...,"7,51,225",Unfurnished,3,BHK,2855.0,2746.76
4,Independent Floor,Saket,Delhi,28.523548,77.200142,301011,INR,3.0,2.0,Not Negotiable,1.28,Posted a year ago,Well designed 3 bhk builder floor is available...,"10,10,202",Unfurnished,3,BHK,2741.0,3509.92

In [5]:
# Checking DataFrame Details

housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2171 entries, 0 to 2170
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   house_type          2171 non-null   object
 1   location            2171 non-null   object
 2   city                2171 non-null   object
 3   latitude            2171 non-null   float64
 4   longitude           2171 non-null   float64
 5   price               2171 non-null   int64
 6   currency            2171 non-null   object
 7   numBathrooms        2171 non-null   float64
 8   numBalconies        2171 non-null   float64
 9   isNegotiable        2171 non-null   object
 10  priceSqFt           2171 non-null   float64
 11  verificationDate    2171 non-null   object
 12  description         2171 non-null   object
 13  SecurityDeposit     2171 non-null   object
 14  Status              2171 non-null   object
 15  numBedroom          2171 non-null   int64
 16  house_layout        2171 non-null   object
 17  house_size_in_sqft  2171 non-null   float64
 18  price_approx_usd    2171 non-null   float64
dtypes: float64(7), int64(2), object(10)
memory usage: 322.4+ KB